.home {
    height: 100%;
    background-image: url("/assets/img/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
        text-align: center;
    }
    
    .menu {
        text-align: center;
    }
    
    .responsive-simple {
        width: 100%;
        height: auto;
    }
}